[project]
	description = Collection of my bash functions
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/savermyas (savermyas)
[access "refs/for/refs/*"]
	read = group user/savermyas (savermyas)
	push = group user/savermyas (savermyas)
	label-Code-Review = -2..+2 group user/savermyas (savermyas)
	label-Verified = -1..+1 group user/savermyas (savermyas)
	rebase = group user/savermyas (savermyas)
	removeReviewer = group user/savermyas (savermyas)
	submit = group user/savermyas (savermyas)
[access "refs/heads/*"]
	read = group user/savermyas (savermyas)
	create = group user/savermyas (savermyas)
	push = +force group user/savermyas (savermyas)
	pushMerge = group user/savermyas (savermyas)
[access "refs/tags/*"]
	push = +force group user/savermyas (savermyas)
	pushTag = group user/savermyas (savermyas)
	pushSignedTag = group user/savermyas (savermyas)
